.gallery {
	display: grid;
	background-color: rgb(244, 222, 192);
	grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
	grid-gap: 6px;
	grid-auto-rows: min-max(80px, auto);
	grid-auto-flow: dense;
}

.card { cursor: pointer; min-height: 100px; }
.span-2 { grid-column-end: span 2; grid-row-end: span 2; min-height: 200px; }
.span-3 { grid-column-end: span 3; grid-row-end: span 3; min-height: 400px; }

.color-1{ background: #1a535c; color: #ddd;}
.color-2{ background: #d97707;}
.color-3{ background: #bfd7ea;}
.color-4{ background: #ff6b6b;}
.color-5{ background: #ffe66d;}
